@model IEnumerable<Library.Models.User>

@{
    ViewData["Title"] = "UserManage";
}

<h1>UserManage</h1>

@ViewData["Result"]

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Delete", "UserDeleteView", new { name = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
